<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body class="bg-light-gray f6 system-sans-serif">
    <table class="w-100 collapse">
      <tr>
        <td class="pa3">
          <table class="collapse center container-length">
            <tr>
              <td class="pa0">
                <table class="w-100 collapse bg-white br2 ba b--moon-gray">
                  <tr>
                    <td class="pa3 pb1 tc">
                      <img class="w3 h3 br-100" src="{{organization.image_url}}" />
                    </td>
                  </tr>
                  <tr>
                    <td class="pa1">
                      <div class="bb b--light-gray"></div>
                    </td>
                  </tr>
                  <tr>
                    <td class="pa3">
                      <div>
                      {{{content}}}
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <div class="">
                <table class="w-100 collapse center">
                  <tr>
                    <td class="pa3 tc gray">
                      Email envoyé par <a class="link blue" href="{{organization.website_url}}">{{organization.name}}</a>.<br />
                      <small class="tc gray">
                        <a class="link gray no-underline" href="mailto:{{organization.email_address}}">{{organization.email_address}}</a> |
                        <a class="link gray no-underline" href="tel:{{organization.phone_number}}">{{organization.phone_number}}</a>
                      </small>
                    </td>
                  </tr>
                </table>
              </div>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <style>
      {{css}}
      .container-length {
        width: 464px;
      }
    </style>
  </body>
</html>
